@if (isBrowser) {

  <h2>Wheel 1 Role</h2>

  <lib-ng-spinner-wheel
    [width]="width"
    [btnWidth]="btnWidth"
    [allItems]="roleItems"
    (spinCompleted)="handleRoleSpinCompleted($event)"
  ></lib-ng-spinner-wheel>

  @if (selectedRole) {
    <p><strong>Selected role:</strong> {{ selectedRole }}</p>
  }

  @if (loading) {
    <p>Loading champions...</p>
  }

  @if (error) {
    <p style="color: red">{{ error }}</p>
  }

  @if (championWheelItems$ | async; as wheelItems) {
    @if (wheelItems.length > 0) {

      <h2>Wheel 2 Champion</h2>

      <lib-ng-spinner-wheel
        [width]="width"
        [btnWidth]="btnWidth"
        [allItems]="wheelItems"
        (spinCompleted)="handleChampionSpinCompleted($event)"
      ></lib-ng-spinner-wheel>
    }
  }

  @if (selectedChampion) {
    <p><strong>Selected champion:</strong> {{ selectedChampion }}</p>
  }

} @else {
  <p>Wheel loads in browser...</p>
}
