@if (isBrowser) {
  <div class="wheelContainer">
    <div class="wheel-pointer">
      <mat-icon>arrow_downward</mat-icon>
    </div>
    <lib-ng-spinner-wheel
      #roleSpinner
      (click)="stopWheelTime(roleSpinner)"
      [width]="wheelWidth"
      [btnWidth]="btnWidth"
      [allItems]="roleItems"
      (spinCompleted)="handleRoleSpinCompleted($event)"
    ></lib-ng-spinner-wheel>
  </div>
  @if (selectedRole) {
    <p><strong>Selected role:</strong> {{ selectedRole }}</p>
  }

  @if (loading) {
    <p>Loading champions...</p>
  }

  @if (error) {
    <p style="color: red">{{ error }}</p>
  }

  @if (championWheelItems$ | async; as wheelItems) {
    @if (wheelItems.length > 0) {
      <div class="wheelContainer">
        <div class="wheel-pointer">
          <mat-icon>arrow_downward</mat-icon>
        </div>
        <lib-ng-spinner-wheel
          #championSpinner
          (click)="stopWheelTime(championSpinner)"
          [width]="wheelWidth"
          [btnWidth]="btnWidth"
          [allItems]="wheelItems"
          (spinCompleted)="handleChampionSpinCompleted($event)"
        ></lib-ng-spinner-wheel>
      </div>
    }
  }

  @if (selectedChampion) {
    <p><strong>Selected champion:</strong> {{ selectedChampion }}</p>
  }
}
