.wheelContainer {
  margin-top: 1.25rem;
  margin-bottom: 3.75rem;

  position: relative;
  display: flex;
  justify-content: center;
}

/* Pointer container */
.wheel-pointer {
  position: absolute;
  top: -2.5rem;
  left: 50%;
  transform: translateX(-50%);

  z-index: 20;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 3.75rem;
  height: 3.75rem;
}

/* Icon itself */
.wheel-pointer mat-icon {
  font-size: 3rem;
  width: 3rem;
  height: 3rem;

  color: #e53935;

  filter: drop-shadow(0 0.125rem 0.125rem black);
}

.result{
  text-align: center;
  margin :2rem;
}
