
<div>
  <button
    routerLink="/wheel"
    class="text-white bg-black border-2 border-yellow-500 hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-gray-300 dark:focus:ring-gray-800 font-medium rounded-2xl text-sm px-4 py-2.5 text-center leading-5"
  >
    Roue
  </button>
</div>

<div>
  <button
    routerLink="/champions"
    class="text-white bg-black border-2 border-yellow-500 hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-gray-300 dark:focus:ring-gray-800 font-medium rounded-2xl text-sm px-4 py-2.5 text-center leading-5"
  >
    Liste des Champions
  </button>
</div>

<div>
  <button
    routerLink="/aleatoire"
    class="text-white bg-black border-2 border-yellow-500 hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-gray-300 dark:focus:ring-gray-800 font-medium rounded-2xl text-sm px-4 py-2.5 text-center leading-5"
  >
    Aleatoire
  </button>
</div>

